@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

$font: "Open Sans", sans-serif;
$text-color: black;
$secondary-text-color: #0071c2;
$heading-color: #0b132a;
$primary-color: #003580;
$secondary-color: #ffffff;
$btn-color: #0071c2;
$secondary-btn-color: #efefef;
$gray-light-color: #f8f8f8;
$gray-lighter-color: #ddd;

:root {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.html {
  margin: 0 auto;
  padding: 0 15px;
}
body {
  line-height: 1.5;
  font-family: $font;
  font-size: 1.2rem;
  color: $text-color;
  font-weight: 400;
  background-color: white;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: $font;
  background-color: #0071c2;
  color: #fff;
}
.wrapper {
  max-width: 1470px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
