.home__footer--title {
    font-size: 2.4rem;
}
.homeFooter__containter{
    width: 500px;
    height: 36px;
    display: flex;
}
.homeFooter__input{
    width: 300px;
}
.homeFooter__button{
    width: 100px;

}