.menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  gap: 12px;
  padding: 12px;
}
.menu__title {
  width: calc(100% - 100px);
}
.menu__btn {
}
