.headerHome__search--wrapper {
    width:1170px ;
    height: 35px;
    background-color: #FEBB02;
    border-width: 3px;
    border-radius: 10px;
    display: flex;
    transform: translateX(17px);

}
.headerHome__search--container{
    width: 200px;
}
.headerHome__search--input{
    width: 170px;
}
.headerHome__search--button{
    color: #d3d3d3 ;
}