$primary-color: #003580;
$text-color: #444;
$color-black: #0b132a;
$color-white: #fff;
$secondary-text-color: #0071c2;
$btn-color: #0071c2;
$secondary-btn-color: #efefef;
$gray-light-color-1: #f8f8f8;
$gray-light-color-2: #ddd;
$font: "Open Sans", sans-serif;
